---
import ContentSection from "@/components/ContentSection.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import * as seriesPost from "@/content/pages/series.md";
import type { SeriesSearchItem } from "@/components/preact/ArchiveSearch";
import ArchiveSearch from "@/components/preact/ArchiveSearch";
import { getImage } from "astro:assets";

const compiled = await seriesPost.compiledContent();
const { title, description } = seriesPost.frontmatter;

const posts = await getCollection(
  "post",
  (post) => post.data.draft === false,
).then((value) =>
  value.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
);

function getLatestPost(series: CollectionEntry<"series">) {
  return posts.find(
    (post) => post.data.series?.id === series.id && post.data.draft === false,
  );
}

function getNumPosts(series: CollectionEntry<"series">) {
  return posts.filter(
    (post) => post.data.series?.id === series.id && post.data.draft === false,
  ).length;
}

const series = await getCollection(
  "series",
  (series) => series.data.draft === false,
).then((value) =>
  value.sort(
    (a, b) =>
      (getLatestPost(b)?.data.pubDate.valueOf() ?? 0) -
      (getLatestPost(a)?.data.pubDate.valueOf() ?? 0),
  ),
);

const searchItems = await Promise.all(
  series.map(async (post) => {
    const optimizedImage = await getImage({
      src: post.data.coverImage,
      width: 640,
      height: 360,
    });

    return {
      id: post.id,
      title: post.data.title,
      description: post.data.description,
      date: getLatestPost(post)?.data.pubDate.valueOf(),
      coverImage: {
        src: optimizedImage.src,
        srcSet: optimizedImage.srcSet.attribute, // Astro's generated srcset string
        width: 640,
        height: 360,
      },
      numPosts: getNumPosts(post),
    } satisfies SeriesSearchItem;
  }),
);
---

<BaseLayout title={title} description={description}>
  <ContentSection>
    <h1 class="text-4xl font-serif font-bold text-primary mt-12">
      {title}
    </h1>
    <p class="pt-4 text-muted-foreground">
      {description}
    </p>

    {
      compiled && (
        <div class="prose prose-themed post-content mt-8">
          <Fragment set:html={compiled} />
        </div>
      )
    }
    <ArchiveSearch client:load items={searchItems} type="series" />
  </ContentSection>
</BaseLayout>
