---
import ContentSection from "@/components/ContentSection.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const posts = await getCollection(
  "post",
  (post) => post.data.draft === false,
).then((value) =>
  value.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
);

function getLatestPost(series: CollectionEntry<"series">) {
  return posts.find(
    (post) => post.data.series?.id === series.id && post.data.draft === false,
  );
}

function getNumPosts(series: CollectionEntry<"series">) {
  return posts.filter(
    (post) => post.data.series?.id === series.id && post.data.draft === false,
  ).length;
}

const series = await getCollection(
  "series",
  (series) => series.data.draft === false,
).then((value) =>
  value.sort(
    (a, b) =>
      (getLatestPost(b)?.data.pubDate.valueOf() ?? 0) -
      (getLatestPost(a)?.data.pubDate.valueOf() ?? 0),
  ),
);

import * as aboutPost from "@/content/pages/series.md";
import { Image } from "astro:assets";
import SeriesViewCard from "@/components/SeriesViewCard.astro";
const compiled = await aboutPost.compiledContent();
const { title, description } = aboutPost.frontmatter;
---

<BaseLayout title={title} description={description}>
  <ContentSection>
    <h1 class="text-4xl font-serif font-bold text-primary mt-12">
      {title}
    </h1>
    <p class="pt-4 text-muted-foreground">
      {description}
    </p>

    {
      compiled && (
        <div class="prose prose-themed post-content mt-8">
          <Fragment set:html={compiled} />
        </div>
      )
    }
    <div class="flex flex-col sm:flex-row gap-3 mt-12">
      <span class="flex flex-col grow gap-2">
        <label for="search" class="font-mono text-sm text-primary"
          >Search series</label
        >
        <input
          type="text"
          placeholder="Search by title or keyword..."
          class="px-4 h-10 border border-border rounded-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
        />
      </span>
      <span class="flex flex-col gap-2">
        <label for="sort" class="font-mono text-sm text-primary">Sort by</label>
        <select
          id="sort"
          class="px-4 h-10 border border-border rounded-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
        >
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
        </select>
      </span>
    </div>
    <div class="flex flex-row flex-wrap mt-4">
      <p
        class="text-xs font-mono bg-primary text-primary-foreground py-1 px-4 rounded-full"
      >
        All Series
      </p>
    </div>
    <div class="flex flex-col gap-4 mt-12">
      {
        series.map((series) => (
          <SeriesViewCard
            series={series}
            numPosts={getNumPosts(series)}
            latestPost={getLatestPost(series)}
          />
        ))
      }
    </div>
  </ContentSection>
</BaseLayout>
