---
import { ArrowRightIcon } from "@lucide/astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

const postItem = Astro.props.post;
const post = postItem.data;
const { title, description, coverImage, pubDate } = post;
const formattedDate = pubDate.toLocaleDateString("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<div class="flex flex-col gap-4">
  <Image
    src={coverImage}
    alt={title}
    width={640}
    height={360}
    sizes="(min-width: 1024px) 33vw, (min-width: 640px) 50vw, 100vw"
    class="aspect-video rounded-md"
    loading="lazy"
  />
  <p class="text-xs font-mono text-primary font-light uppercase">
    {formattedDate}
  </p>
  <p class="font-serif text-lg text-primary">{title}</p>
  <p class="text-sm text-foreground/70">{description}</p>
  <a
    href=`/posts/${postItem.id}`
    class="text-sm text-primary font-mono underline flex flex-row items-center gap-2"
    >Read More <ArrowRightIcon class="size-3" />
  </a>
</div>
